.bundleSummaryItemContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3px;

  border: 1px solid blue;
  /* border: 1px solid rgb(0, 0, 0, 0.4); */
}

.bundleDiv {
  height: 45px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.bundleDiv div {
  border: 1px dashed pink;
}

.priceDiv {
  text-align: left;
}

.bundleImage {
  height: 45px;
  width: auto;
}

.itemsDiv {
  display: grid;
  grid-template-columns: 37px 37px 37px 37px 37px 37px 37px 37px;
  grid-column-gap: 2px;
  overflow: hidden;
}

.deleteBtnDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  right: 0;
  top: 0;
}

.deleteBtn {
  font-size: 10px;
  padding: 3px;
  background-color: rgb(255, 0, 0, 0.5);
  color: white;
  border-radius: 3px;
  border: none;
}

.deleteBtn:hover {
  background-color: red;
}
